# === INFRAESTRUCTURA CORE ===
FIFTYONE_DATABASE_DIR=~/.fiftyone/db
FIFTYONE_DATABASE_URI=mongodb://localhost:27017

# === LLAMADAS E INFERENCIA DE AGENTES (VLMs) ===
OPENAI_API_KEY=tu_api_key_aquí
ANTHROPIC_API_KEY=tu_api_key_aquí

# === CAPA REST Y SERVIDORES ===
FASTAPI_PORT=8000
MCP_SERVER_PORT=5152